<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rekruit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rekruit">
        <activity
            android:name=".applicant.ApplicantResumePage"
            android:exported="false" />
        <activity
            android:name=".applicant.ApplicantSavedJob"
            android:exported="false" />
        <activity
            android:name=".applicant.ApplicantAppliedJob"
            android:exported="false" />
        <activity
            android:name=".applicant.ApplicantJobDescriptionPage"
            android:exported="false" />
        <activity
            android:name=".employer.EmployerAccountPage"
            android:exported="false" />
        <activity
            android:name=".applicant.ApplicantAccountPage"
            android:exported="false" />
        <activity
            android:name=".employer.EmployerEditProfile"
            android:exported="false" />
        <activity
            android:name=".applicant.ApplicantEditProfile"
            android:exported="false" />
        <activity
            android:name=".employer.EmployerProfile"
            android:exported="false" />
        <activity
            android:name=".employer.EmployerJobPage"
            android:exported="false" />
        <activity
            android:name=".applicant.ApplicantProfile"
            android:exported="false" />
        <activity
            android:name=".applicant.ApplicantHomePage"
            android:exported="false" />
        <activity
            android:name=".employer.post_job"
            android:exported="false" />
        <activity
            android:name=".employer.employer_home_page"
            android:exported="false" />
        <activity
            android:name=".employer.register_employer"
            android:exported="false" />
        <activity
            android:name=".applicant.job_list"
            android:exported="false" />
        <activity
            android:name=".authentication.login_applicant"
            android:exported="true" />
        <activity
            android:name=".applicant.registerApplicantActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>